django>=5.0,<6.0
youtube-transcript-api>=0.6.2
groq>=0.4.2
python-dotenv>=1.0.1
beautifulsoup4>=4.12.0
requests>=2.31.0
python-docx>=1.1.0
yt-dlp>=2023.12.30
gunicorn>=21.2.0
dj-database-url>=2.1.0
psycopg2-binary>=2.9.9
whitenoise[brotli]>=6.6.0
